/* START GENERAL */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif; }

html,
body {
  min-width: 100vh;
  max-width: auto;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden; }

li {
  list-style: none; }

.icon {
  width: 30px; }

button:hover {
  cursor: pointer; }

/* END GENERAL */
/* START HEADER */
.header {
  background-color: green;
  color: white;
  z-index: 3;
  padding: 10px; }
  .header .nav {
    font-size: 30px; }
    .header .nav ul li {
      display: inline;
      margin: 20px 0 0 20px; }
    .header .nav .nav__logo {
      height: 70px; }
      .header .nav .nav__logo:hover {
        transform: scale(0.9);
        transition-duration: 0.3s;
        box-shadow: 0 0 13px black; }
    .header .nav .nav__brand {
      display: flex;
      align-items: center; }
    .header .nav .nav__title {
      margin-left: 40px;
      font-family: 'Lato', sans-serif; }
    .header .nav .nav__menu {
      display: flex;
      justify-content: flex-end;
      font-size: 26px; }
      .header .nav .nav__menu a {
        color: white;
        text-decoration: none; }
    .header .nav .nav__menu a:hover,
    .header .nav a.active {
      text-decoration: underline; }

/* END HEADER */
/* START MAIN */
main {
  width: 100%;
  z-index: 1;
  margin-top: 98px;
  text-align: center; }

/* START GENERAL FORMS */
form {
  text-align: left;
  border-radius: 2%;
  box-shadow: 0 6px 25px black; }
  form h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid black; }
  form h3 {
    font-size: 22px;
    margin-bottom: 5px; }
  form fieldset {
    padding: 5px 30px 20px 30px;
    border: none; }
    form fieldset legend {
      text-align: center; }
  form .formButtons {
    margin-top: 40px;
    display: flex;
    justify-content: center; }
    form .formButtons button {
      margin: 0 35px; }

/* END GENERAL FORMS */
/* START GENERAL CARD */
.card-body {
  background-color: green;
  color: white;
  height: 60px;
  font-size: 16px;
  border: solid black;
  border-width: 2px 0 0 0;
  z-index: 2; }

.card-title {
  position: relative;
  top: 4px; }

.card-text {
  position: relative;
  top: 6px; }

/* END GENERAL CARD */
/* START INDEX PAGE */
/* START HERO SECTION */
.heroSection {
  position: relative;
  border-style: solid;
  border-color: black;
  overflow: hidden; }
  .heroSection .heroSection__button {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition-duration: 0.3s; }
    .heroSection .heroSection__button:hover {
      top: 10%;
      transition-duration: 0.3s; }
    .heroSection .heroSection__button button {
      width: 200px;
      height: 50px;
      font-family: 'Lato', sans-serif;
      font-size: 22px;
      color: black;
      background-color: orange;
      border: solid black;
      border-radius: 5px;
      transition-duration: 0.3s; }
      .heroSection .heroSection__button button:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
        box-shadow: 0 0 20px white; }
  .heroSection .heroSection__carousel__images {
    display: flex;
    width: 100%;
    z-index: 1; }
    .heroSection .heroSection__carousel__images img {
      height: 670px;
      width: 100%; }
  .heroSection .swipe-left,
  .heroSection .swipe-right {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 2;
    color: white;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    transition-duration: 0.3s; }
  .heroSection .swipe-left:hover,
  .heroSection .swipe-right:hover {
    width: 70px;
    height: 70px;
    transition-duration: 0.3s; }
  .heroSection .swipe-left {
    left: 0%;
    transform: translate(0%, -50%); }
  .heroSection .swipe-right {
    right: 0%;
    transform: translate(0%, -50%); }

/* END HERO SECTION */
/* START PRODUCTS SECTION */
.productsSection {
  padding: 40px 0;
  /* START PRODUCTS Carousel */
  /* END PRODUCTS Carousel */ }
  .productsSection .burgers__card,
  .productsSection .chips__card {
    width: 510px;
    height: 510px;
    border: solid black;
    box-shadow: 0 2px 30px black; }
    .productsSection .burgers__card h2,
    .productsSection .chips__card h2 {
      background-color: black;
      color: white;
      height: 40px;
      font-size: 28px;
      z-index: 2; }
  .productsSection .burgers__card__carousel,
  .productsSection .chips__card__carousel {
    position: relative;
    height: 470px;
    overflow: hidden; }
  .productsSection .burger,
  .productsSection .chip {
    position: relative;
    min-width: 510px;
    width: 510px; }
    .productsSection .burger img,
    .productsSection .chip img {
      display: block;
      width: 100%;
      height: 410px; }

/* END PRODUCTS SECTION */
/* END INDEX PAGE */
/* START MENU PAGE */
.burgers,
.chips {
  position: relative;
  margin-bottom: 30px; }
  .burgers h2,
  .chips h2 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 5px 0; }
  .burgers .burger__card,
  .burgers .chip__card,
  .chips .burger__card,
  .chips .chip__card {
    box-sizing: border-box;
    border: solid black;
    height: 600px; }
    .burgers .burger__card img,
    .burgers .chip__card img,
    .chips .burger__card img,
    .chips .chip__card img {
      height: 532px; }

/* END MENU PAGE */
/* START ORDERS PAGE */
/* START ORDERS SECTION */
.ordersSection {
  margin: 40px 0; }
  .ordersSection .ordersForm {
    width: 75%;
    height: 100%;
    background-color: #ffcb5c; }
    .ordersSection .ordersForm .orderArea {
      border-bottom: solid black;
      margin-bottom: 10px;
      height: 348px;
      max-height: 348px;
      overflow-y: auto; }

/* END ORDERS SECTION */
/* START MAP SECTION */
.mapSection {
  margin: 40px 0; }
  .mapSection .mapContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 610px;
    width: 60%;
    padding: 20px 10px;
    background-color: #ffcb5c;
    box-shadow: 0 6px 25px black;
    border-radius: 2%; }
    .mapSection .mapContainer h2 {
      width: 100%;
      font-size: 25px;
      margin-top: 1%;
      padding-bottom: 5px;
      border-bottom: solid black; }
    .mapSection .mapContainer iframe {
      width: 90%;
      height: 85%; }

/* END MAP SECTION */
/* END ORDERS PAGE */
/* START CONTACT PAGE */
.contactSection {
  margin: 30px 0; }
  .contactSection .contactForm {
    width: 70%;
    background-color: #ffcb5c; }

.newsletterSection {
  margin: 30px 0; }
  .newsletterSection .newsletterForm {
    background-color: #262626;
    color: white;
    width: 90%;
    margin: 50px 0 0 0; }
    .newsletterSection .newsletterForm h2 {
      font-size: 21px;
      margin-bottom: 20px; }

/* END CONTACT PAGE */
/* START JOBS PAGE */
/* START ABOUT US SECTION */
.aboutUsSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid black 5px;
  background: linear-gradient(to right, white 35%, black 40%);
  margin-bottom: 30px; }
  .aboutUsSection .aboutUs__title {
    display: flex;
    align-items: center;
    width: 40%;
    flex-direction: column;
    padding-bottom: 2%; }
    .aboutUsSection .aboutUs__title h2 {
      padding: 5px 10px;
      font-size: 80px;
      box-shadow: 10px 10px 40px grey;
      background-color: transparent;
      border: solid black 4px; }
    .aboutUsSection .aboutUs__title h2.about {
      transform: translate(-50%, 4px);
      color: green; }
    .aboutUsSection .aboutUs__title h2.us {
      transform: translate(10%); }
  .aboutUsSection .aboutUs__story {
    height: 83%;
    width: 55%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
    padding: 20px;
    border-left: solid white;
    font-size: 26px;
    color: white; }

/* END ABOUT US SECTION */
/* START JOBS SECTION */
.jobsSection {
  border-right: solid black 20px;
  border-left: solid black 20px;
  border-bottom: solid black 40px; }
  .jobsSection h2 {
    background-color: black;
    color: white;
    width: 100%;
    padding: 5px 0;
    font-size: 28px; }
  .jobsSection .jobs__areas {
    overflow: hidden; }
    .jobsSection .jobs__areas div h3 {
      font-size: 24px;
      padding-bottom: 5px;
      border-bottom: solid white;
      margin-bottom: 10px; }
    .jobsSection .jobs__areas .jobs__areas__jobLeft {
      background-color: #006d00; }
    .jobsSection .jobs__areas .jobs__areas__jobRight {
      background-color: black; }
    .jobsSection .jobs__areas .jobs__areas__jobLeft,
    .jobsSection .jobs__areas .jobs__areas__jobRight {
      height: 280px;
      max-height: 280px;
      width: 260px;
      max-width: 260px;
      margin: 20px auto;
      display: flex;
      flex-flow: column nowrap;
      box-shadow: 15px 15px 15px grey;
      color: white;
      padding: 15px 16px; }
      .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription,
      .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between; }
        .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__intro,
        .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__intro {
          text-align: center; }
        .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__data,
        .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__data {
          text-align: start; }
        .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__button,
        .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__button {
          margin: 0 auto; }
          .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__button button,
          .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__button button {
            font-size: 18px; }
            .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__button button:hover,
            .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__button button:hover {
              transition-duration: 0.3s;
              transform: scale(1.1);
              box-shadow: 0 0 8px white; }

/* END JOBS SECTION */
/* START POSTULATION SECTION */
.postulationForm {
  margin: 30px;
  width: 60%;
  background-color: #ffcb5c; }

/* END POSTULATION SECTION */
/* END JOBS PAGE */
/* END MAIN */
/* START FOOTER */
.footer {
  background-color: #262626;
  color: white;
  z-index: 1;
  padding: 20px 15px; }
  .footer div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
    .footer div h3 {
      margin-bottom: 15px;
      font-size: 25px; }
    .footer div li {
      margin-bottom: 4px; }
    .footer div a {
      text-decoration: none;
      color: white; }
      .footer div a:hover {
        text-decoration: underline; }
  .footer .footer__schedule dt {
    font-size: 18px;
    font-weight: unset;
    text-align: center; }
  .footer .footer__schedule dd {
    text-align: center; }

/* END FOOTER */
@media only screen and (max-width: 1200px) {
  .aboutUsSection {
    background: linear-gradient(to bottom, white 40%, black 45%); }
    .aboutUsSection .aboutUs__title {
      margin: 40px 0 40px; }
    .aboutUsSection .aboutUs__story {
      padding: unset;
      border-left: none;
      width: auto;
      margin: 10px 40px;
      min-height: 350px;
      height: auto; } }

@media only screen and (max-width: 992px) {
  .header {
    position: unset; }
  .nav__menu {
    justify-content: center !important; }
  main {
    margin-top: 0; }
  .aboutUs__story p {
    font-size: large; } }
