/* START GENERAL */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif; }

li {
  list-style: none; }

.icon {
  width: 35px;
  height: 35px; }

button:hover {
  cursor: pointer; }

/* END GENERAL */
/* START HEADER */
.header {
  background-color: green;
  color: white;
  z-index: 3;
  padding: 10px; }
  .header .nav {
    font-size: 30px; }
    .header .nav ul li {
      display: inline;
      margin-left: 20px; }
    .header .nav .nav__logo {
      height: 70px; }
      .header .nav .nav__logo:hover {
        transform: scale(0.9);
        transition-duration: 0.3s;
        box-shadow: 0 0 13px black; }
    .header .nav .nav__brand {
      display: flex;
      align-items: center; }
    .header .nav .nav__title {
      margin-left: 40px;
      font-family: 'Lato', sans-serif; }
    .header .nav .nav__menu {
      display: flex;
      justify-content: flex-end;
      font-size: 26px; }
      .header .nav .nav__menu a {
        color: white;
        text-decoration: none; }
    .header .nav .nav__menu a:hover,
    .header .nav a.active {
      text-decoration: underline; }

/* END HEADER */
/* START MAIN */
main {
  width: 100%;
  z-index: 1;
  margin-top: 90px;
  text-align: center; }

/* START GENERAL FORMS */
form {
  text-align: left;
  border-radius: 2%;
  box-shadow: 0 6px 25px black;
  padding: 5px 30px 20px 30px;
  box-sizing: border-box; }
  form h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid black; }
  form h3 {
    font-size: 22px;
    margin-bottom: 5px; }
  form legend {
    text-align: center; }

.formButtons {
  margin-top: 40px;
  display: flex;
  justify-content: center; }
  .formButtons button {
    margin: 0 35px; }

/* END GENERAL FORMS */
/* START GENERAL CARD */
.card-body {
  background-color: green;
  color: white;
  font-size: 16px;
  border: solid black;
  border-width: 2px 0 0 0;
  z-index: 2; }

.card-title {
  position: relative;
  top: 4px; }

.card-text {
  position: relative;
  top: 6px; }

/* END GENERAL CARD */
/* START INDEX PAGE */
/* START HERO SECTION */
.heroSection {
  position: relative;
  border-style: solid;
  border-color: black;
  overflow: hidden; }
  .heroSection .heroSection__button {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 200px;
    transition-duration: 0.3s; }
    .heroSection .heroSection__button:hover {
      top: 10%;
      transition-duration: 0.3s; }
    .heroSection .heroSection__button button {
      width: 100%;
      height: 50px;
      font-family: 'Lato', sans-serif;
      font-size: 22px;
      color: black;
      background-color: orange;
      border: solid black;
      border-radius: 5px;
      transition-duration: 0.3s; }
      .heroSection .heroSection__button button:hover {
        transform: scale(1.1);
        transition-duration: 0.3s;
        box-shadow: 0 0 20px white; }
  .heroSection .heroSection__carousel__images {
    display: flex;
    width: 100%;
    z-index: 1;
    transition: transform 0.6s ease-in-out; }
    .heroSection .heroSection__carousel__images img {
      min-height: 450px;
      max-height: 670px;
      width: 100%; }
  .heroSection .swipe-left,
  .heroSection .swipe-right {
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    top: 50%;
    z-index: 2;
    color: white;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    transition-duration: 0.3s; }
    .heroSection .swipe-left:hover,
    .heroSection .swipe-right:hover {
      max-width: 70px;
      max-height: 70px;
      transition-duration: 0.3s; }
  .heroSection .swipe-left {
    left: 0%;
    transform: translate(0%, -50%); }
  .heroSection .swipe-right {
    right: 0%;
    transform: translate(0%, -50%); }

/* END HERO SECTION */
/* START PRODUCTS SECTION */
.productsSection {
  padding: 40px 0;
  /* START PRODUCTS Carousel */
  /* END PRODUCTS Carousel */ }
  .productsSection .burgers__card,
  .productsSection .guarnition__card {
    width: 95%;
    max-width: 510px;
    min-height: 500px;
    max-height: 600px;
    border: solid black;
    box-shadow: 0 2px 30px black;
    overflow: hidden; }
    .productsSection .burgers__card h2,
    .productsSection .guarnition__card h2 {
      background-color: black;
      color: white;
      height: 40px;
      font-size: 28px;
      z-index: 2; }
  .productsSection .burgers__card__carousel,
  .productsSection .guarnition__card__carousel {
    position: relative; }
  .productsSection .burgerProduct,
  .productsSection .guarnitionProduct {
    position: relative;
    min-width: 300px;
    max-width: 510px;
    min-height: 460px;
    max-height: 560px; }
    .productsSection .burgerProduct img,
    .productsSection .guarnitionProduct img {
      box-sizing: border-box;
      min-height: 380px;
      max-height: 400px; }
    .productsSection .burgerProduct .card-body,
    .productsSection .guarnitionProduct .card-body {
      box-sizing: border-box;
      height: 80px; }

/* END PRODUCTS SECTION */
/* END INDEX PAGE */
/* START MENU PAGE */
.burgersArticle,
.guarnitionArticle {
  position: relative;
  margin-bottom: 30px; }
  .burgersArticle h2,
  .guarnitionArticle h2 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 5px 0; }
  .burgersArticle .burger__card,
  .burgersArticle .guarnition__card,
  .guarnitionArticle .burger__card,
  .guarnitionArticle .guarnition__card {
    box-sizing: border-box;
    border: solid black;
    min-height: 500px;
    max-height: 600px;
    overflow: hidden; }
    .burgersArticle .burger__card img,
    .burgersArticle .guarnition__card img,
    .guarnitionArticle .burger__card img,
    .guarnitionArticle .guarnition__card img {
      box-sizing: border-box;
      min-height: 420px;
      max-height: 90%; }
    .burgersArticle .burger__card .card-body,
    .burgersArticle .guarnition__card .card-body,
    .guarnitionArticle .burger__card .card-body,
    .guarnitionArticle .guarnition__card .card-body {
      box-sizing: border-box;
      min-height: 73px;
      height: 80%;
      max-height: 80px; }

/* END MENU PAGE */
/* START ORDERS PAGE */
.cartContainer,
.menuContainer,
.deliveryContainer,
.paymentContainer,
.notificationContainer {
  background-color: #262626;
  color: white;
  text-align: left;
  border-radius: 2%;
  box-shadow: 0 6px 25px black;
  padding: 10px 20px;
  width: 97%;
  max-width: 720px;
  box-sizing: border-box; }
  .cartContainer h3,
  .menuContainer h3,
  .deliveryContainer h3,
  .paymentContainer h3,
  .notificationContainer h3 {
    height: 33px;
    text-align: center;
    border-bottom: solid white;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .cartContainer .burgerItem,
  .cartContainer .guarnitionItem,
  .cartContainer .cartColumns,
  .menuContainer .burgerItem,
  .menuContainer .guarnitionItem,
  .menuContainer .cartColumns,
  .deliveryContainer .burgerItem,
  .deliveryContainer .guarnitionItem,
  .deliveryContainer .cartColumns,
  .paymentContainer .burgerItem,
  .paymentContainer .guarnitionItem,
  .paymentContainer .cartColumns,
  .notificationContainer .burgerItem,
  .notificationContainer .guarnitionItem,
  .notificationContainer .cartColumns {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px; }
    .cartContainer .burgerItem .itemName,
    .cartContainer .guarnitionItem .itemName,
    .cartContainer .cartColumns .itemName,
    .menuContainer .burgerItem .itemName,
    .menuContainer .guarnitionItem .itemName,
    .menuContainer .cartColumns .itemName,
    .deliveryContainer .burgerItem .itemName,
    .deliveryContainer .guarnitionItem .itemName,
    .deliveryContainer .cartColumns .itemName,
    .paymentContainer .burgerItem .itemName,
    .paymentContainer .guarnitionItem .itemName,
    .paymentContainer .cartColumns .itemName,
    .notificationContainer .burgerItem .itemName,
    .notificationContainer .guarnitionItem .itemName,
    .notificationContainer .cartColumns .itemName {
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .cartContainer .burgerItem .itemName h4,
      .cartContainer .guarnitionItem .itemName h4,
      .cartContainer .cartColumns .itemName h4,
      .menuContainer .burgerItem .itemName h4,
      .menuContainer .guarnitionItem .itemName h4,
      .menuContainer .cartColumns .itemName h4,
      .deliveryContainer .burgerItem .itemName h4,
      .deliveryContainer .guarnitionItem .itemName h4,
      .deliveryContainer .cartColumns .itemName h4,
      .paymentContainer .burgerItem .itemName h4,
      .paymentContainer .guarnitionItem .itemName h4,
      .paymentContainer .cartColumns .itemName h4,
      .notificationContainer .burgerItem .itemName h4,
      .notificationContainer .guarnitionItem .itemName h4,
      .notificationContainer .cartColumns .itemName h4 {
        margin-left: 5%; }

/* START ORDERS SECTION */
.ordersSection {
  margin-bottom: 20px; }
  .ordersSection .cartButton {
    position: absolute;
    top: 60px;
    right: 15px;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer; }
    .ordersSection .cartButton:hover {
      transition-duration: 0.3s;
      transform: scale(1.3);
      box-shadow: 0 0 3px black; }
  .ordersSection h2 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 5px 0; }
  .ordersSection .menuContainer {
    margin: 30px auto; }
    .ordersSection .menuContainer .burgerItem h4,
    .ordersSection .menuContainer .guarnitionItem h4 {
      font-size: 22px; }
    .ordersSection .menuContainer .burgerItem .itemName,
    .ordersSection .menuContainer .guarnitionItem .itemName {
      width: 52%;
      max-width: 230px; }
    .ordersSection .menuContainer .burgerItem .itemOptions,
    .ordersSection .menuContainer .guarnitionItem .itemOptions {
      display: flex;
      width: 48%;
      max-width: 270px;
      justify-content: space-between;
      align-items: center;
      font-size: 18px; }
      .ordersSection .menuContainer .burgerItem .itemOptions li,
      .ordersSection .menuContainer .guarnitionItem .itemOptions li {
        text-align: center;
        min-width: 50px;
        width: 70px;
        cursor: pointer; }
        .ordersSection .menuContainer .burgerItem .itemOptions li:hover,
        .ordersSection .menuContainer .guarnitionItem .itemOptions li:hover {
          text-decoration: underline; }
        .ordersSection .menuContainer .burgerItem .itemOptions li p,
        .ordersSection .menuContainer .guarnitionItem .itemOptions li p {
          margin-bottom: 0; }

/* START CART SECTION */
.cartSection {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

/* START FUNCTIONALITY CLASSES */
.cartSectionOpened {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.78); }

.cartContainerOpened,
.deliveryContainerOpened,
.paymentContainerOpened {
  display: unset !important; }

.notificationContainerOpened {
  opacity: 1 !important; }

.cartCloseButton,
.cartGoBackButton {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 12px;
  font-size: 15px;
  background-color: white;
  border: solid white;
  border-radius: 50%; }

.cartCloseButton {
  right: 20px; }

.cartGoBackButton {
  left: 20px; }

/* END FUNCTIONALITY CLASSES */
.cartContainer,
.deliveryContainer,
.paymentContainer {
  display: none;
  max-width: 620px;
  max-height: 85%;
  position: relative; }

.cartSection h4 {
  font-size: 17px; }

.cartColumns {
  margin-bottom: 30px;
  text-align: center; }
  .cartColumns h4 {
    justify-self: center; }

.itemNameCol,
.itemName {
  width: 41.5%;
  max-width: 200px; }

.itemSizeCol,
.itemSize {
  width: 20%; }

.itemClarificationsCol,
.itemClarifications {
  width: 28.5%; }

.itemPriceCol,
.itemPrice {
  width: 10%; }

.cartForm {
  box-shadow: none;
  padding: 0; }
  .cartForm .cartItems {
    max-height: 320px;
    overflow-y: auto; }
    .cartForm .cartItems .burgerItem .itemSize,
    .cartForm .cartItems .burgerItem .itemClarifications,
    .cartForm .cartItems .burgerItem .itemPrice,
    .cartForm .cartItems .guarnitionItem .itemSize,
    .cartForm .cartItems .guarnitionItem .itemClarifications,
    .cartForm .cartItems .guarnitionItem .itemPrice {
      display: flex;
      justify-content: center;
      align-items: center; }
    .cartForm .cartItems .burgerItem .itemName h4,
    .cartForm .cartItems .guarnitionItem .itemName h4 {
      margin-left: 3px; }
    .cartForm .cartItems .burgerItem .itemName .deleteItem,
    .cartForm .cartItems .guarnitionItem .itemName .deleteItem {
      cursor: pointer; }
    .cartForm .cartItems .burgerItem .itemSize select,
    .cartForm .cartItems .guarnitionItem .itemSize select {
      width: 100%;
      max-width: 90px;
      padding: 3px;
      font-size: 14px; }
    .cartForm .cartItems .burgerItem .itemClarifications input,
    .cartForm .cartItems .guarnitionItem .itemClarifications input {
      width: 100%;
      max-width: 110px;
      padding: 3px;
      font-size: 14px; }
    .cartForm .cartItems .burgerItem .itemPrice p,
    .cartForm .cartItems .guarnitionItem .itemPrice p {
      margin: 0 0; }
  .cartForm .totalPrice {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 10%;
    text-align: center; }

.deliveryForm {
  box-shadow: none;
  padding: 0; }
  .deliveryForm fieldset {
    padding: unset;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between; }
    .deliveryForm fieldset div {
      align-self: flex-start;
      width: 45%; }
      .deliveryForm fieldset div div label {
        width: max-content;
        font-size: 16px; }

.paymentContainer {
  width: 95%;
  padding: 40px 20px; }

.notificationContainer {
  opacity: 0;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: fit-content;
  padding: 5px 10px;
  transition: opacity 0.3s ease-in-out; }

/* END CART SECTION */
/* END ORDERS SECTION */
/* START TAKE AWAY SECTION */
.takeawaySection {
  margin: 20px 0; }
  .takeawaySection h2 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 5px 0; }
  .takeawaySection .mapContainer {
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 2%;
    box-shadow: 0 6px 25px black;
    margin: 40px auto;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: space-between;
    height: 610px;
    width: 95%;
    max-width: 720px;
    box-sizing: border-box;
    background-color: #ffcb5c; }
    .takeawaySection .mapContainer h3 {
      width: 100%;
      font-size: 25px;
      margin-top: 1%;
      padding-bottom: 5px;
      border-bottom: solid black;
      text-align: center; }
    .takeawaySection .mapContainer iframe {
      width: 90%;
      height: 88%; }

/* END TAKE AWAY SECTION */
/* END ORDERS PAGE */
/* START CONTACT PAGE */
.contactSection {
  margin: 30px 0; }
  .contactSection .contactForm {
    width: 95%;
    max-width: 600px;
    background-color: #ffcb5c; }

.newsletterSection {
  margin: 30px 0; }
  .newsletterSection .newsletterForm {
    background-color: #262626;
    color: white;
    width: 95%;
    max-width: 750px;
    margin: 50px 0 0 0; }
    .newsletterSection .newsletterForm h2 {
      font-size: 21px;
      margin-bottom: 20px; }

/* END CONTACT PAGE */
/* START JOBS PAGE */
/* START ABOUT US SECTION */
.aboutUsSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid black 5px;
  background: linear-gradient(to right, white 35%, black 40%);
  margin-bottom: 30px; }
  .aboutUsSection .aboutUs__title {
    display: flex;
    align-items: center;
    width: 40%;
    flex-direction: column;
    padding-bottom: 2%; }
    .aboutUsSection .aboutUs__title h2 {
      padding: 5px 10px;
      font-size: 80px;
      box-shadow: 10px 10px 40px grey;
      background-color: transparent;
      border: solid black 4px; }
    .aboutUsSection .aboutUs__title h2.about {
      transform: translate(-50%, 4px);
      color: green; }
    .aboutUsSection .aboutUs__title h2.us {
      transform: translate(10%); }
  .aboutUsSection .aboutUs__story {
    height: 83%;
    width: 55%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
    padding: 20px;
    border-left: solid white;
    font-size: 26px;
    color: white; }

/* END ABOUT US SECTION */
/* START JOBS SECTION */
.jobsSection {
  border-right: solid black 20px;
  border-left: solid black 20px;
  border-bottom: solid black 40px; }
  .jobsSection h2 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 5px 0; }
  .jobsSection .jobs__areas {
    overflow: hidden; }
    .jobsSection .jobs__areas div h3 {
      font-size: 24px;
      padding-bottom: 5px;
      border-bottom: solid white;
      margin-bottom: 10px; }
    .jobsSection .jobs__areas .jobs__areas__jobLeft {
      background-color: #006d00; }
    .jobsSection .jobs__areas .jobs__areas__jobRight {
      background-color: black; }
    .jobsSection .jobs__areas .jobs__areas__jobLeft,
    .jobsSection .jobs__areas .jobs__areas__jobRight {
      height: 280px;
      max-height: 280px;
      width: 80%;
      max-width: 260px;
      margin: 20px auto;
      display: flex;
      flex-flow: column nowrap;
      box-shadow: 15px 15px 15px grey;
      color: white;
      padding: 15px 16px; }
      .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription,
      .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between; }
        .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__intro,
        .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__intro {
          text-align: center; }
        .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__data,
        .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__data {
          text-align: start; }
        .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__button,
        .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__button {
          margin: 0 auto; }
          .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__button button,
          .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__button button {
            font-size: 18px; }
            .jobsSection .jobs__areas .jobs__areas__jobLeft .jobDescription .jobDescription__button button:hover,
            .jobsSection .jobs__areas .jobs__areas__jobRight .jobDescription .jobDescription__button button:hover {
              transition-duration: 0.3s;
              transform: scale(1.1);
              box-shadow: 0 0 8px white; }

/* END JOBS SECTION */
/* START POSTULATION SECTION */
.postulationForm {
  margin: 30px;
  width: 90%;
  max-width: 600px;
  background-color: #ffcb5c; }

/* END POSTULATION SECTION */
/* END JOBS PAGE */
/* END MAIN */
/* START FOOTER */
.footer {
  background-color: #262626;
  color: white;
  z-index: 1;
  padding: 20px 15px; }
  .footer div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
    .footer div h3 {
      margin-bottom: 15px;
      font-size: 25px; }
    .footer div li {
      margin-bottom: 4px; }
    .footer div a {
      text-decoration: none;
      color: white; }
      .footer div a:hover {
        text-decoration: underline; }
  .footer .footer__schedule dt {
    font-size: 18px;
    font-weight: unset;
    text-align: center; }
  .footer .footer__schedule dd {
    text-align: center; }

/* END FOOTER */
@media only screen and (max-width: 1200px) {
  .aboutUsSection {
    background: linear-gradient(to bottom, white 40%, black 45%); }
    .aboutUsSection .aboutUs__title {
      margin: 40px 0 40px; }
    .aboutUsSection .aboutUs__story {
      padding: unset;
      border-left: none;
      width: auto;
      margin: 10px 40px;
      min-height: 350px;
      height: auto; } }

@media only screen and (max-width: 992px) {
  /* START HEADER */
  .header {
    position: unset; }
  .nav__menu,
  .nav-item {
    margin: 0 !important; }
  /* END HEADER */
  main {
    margin-top: 0; }
  .cartButton {
    top: 78px !important;
    right: 30px !important;
    width: 29px;
    height: 29px;
    padding: 7px !important; }
  .aboutUs__story p {
    font-size: large; } }

@media only screen and (max-width: 576px) {
  .footer div {
    margin: 20px 0; }
    .footer div h3 {
      font-size: 28px; }
    .footer div li {
      font-size: 18px; } }

@media only screen and (max-width: 500px) {
  /* START HEADER */
  .nav__brand {
    margin: 0 !important; }
    .nav__brand .nav__logo {
      height: 65px !important; }
      .nav__brand .nav__logo img {
        width: 65px;
        height: 65px; }
    .nav__brand .nav__title {
      font-size: 35px;
      margin-left: 5% !important; }
  .navbar-toggler,
  .navbar-toggler-icon {
    width: 40px;
    height: 40px; }
  /* END HEADER */
  /* START GENERAL FORMS */
  .contactForm,
  .newsletterForm,
  .postulationForm {
    padding: 5px 15px 20px 15px; }
    .contactForm legend,
    .newsletterForm legend,
    .postulationForm legend {
      font-size: 20px; }
    .contactForm h2,
    .newsletterForm h2,
    .postulationForm h2 {
      font-size: 21px !important; }
    .contactForm label,
    .newsletterForm label,
    .postulationForm label {
      font-size: 16px; }
    .contactForm input,
    .newsletterForm input,
    .postulationForm input {
      font-size: 15px; }
  /* END GENERAL FORMS */
  .formButtons {
    margin-top: 15px !important; }
    .formButtons button {
      margin: 0 20px;
      font-size: 14px;
      padding: 3px 6px; }
  /* START HERO SECTION */
  .heroSection__button {
    max-width: fit-content !important; }
    .heroSection__button button {
      height: 45px !important;
      font-size: 18px !important; }
  .swipe-left,
  .swipe-right {
    width: 40px;
    height: 40px; }
    .swipe-left:hover,
    .swipe-right:hover {
      width: 50px;
      height: 50px; }
  /* END HERO SECTION */
  /* START ORDERS PAGE */
  .ordersSection h2,
  .takeawaySection h2 {
    font-size: 25px; }
  .cartButton {
    top: 72px !important;
    right: 17px !important; }
  .menuContainer h3,
  .mapContainer h3,
  .cartContainer h3,
  .deliveryContainer h3 {
    font-size: 23px !important; }
  .menuContainer {
    padding: 10px 10px !important; }
    .menuContainer .itemName h4 {
      margin-left: 3px;
      font-size: 16px !important; }
    .menuContainer .burgersSection li {
      font-size: 15px; }
    .menuContainer .guarnitionSection li {
      font-size: 13.5px; }
  .cartContainer {
    padding: 10px 10px !important; }
    .cartContainer h4 {
      margin-left: 0px !important;
      font-size: 14px !important; }
    .cartContainer .icon {
      width: 25px;
      height: 25px; }
    .cartContainer .itemSize select {
      padding: 1px !important;
      font-size: 12px !important;
      max-width: 73px !important; }
    .cartContainer .itemClarifications input {
      padding: 1px !important;
      font-size: 12px !important;
      max-width: 80px !important; }
    .cartContainer .itemPrice p {
      font-size: 14px !important; }
    .cartContainer .totalPrice {
      right: 10px !important;
      bottom: 10px !important; }
  .deliveryContainer label {
    font-size: 16px; }
  .deliveryContainer fieldset div .largeLabel,
  .deliveryContainer fieldset div input,
  .deliveryContainer fieldset div select,
  .deliveryContainer fieldset div div label {
    font-size: 14px !important; }
  .deliveryContainer fieldset div input,
  .deliveryContainer fieldset div select {
    padding: 5px; }
  .takeawaySection .mapContainer {
    padding: 10px 5px;
    height: 580px; }
    .takeawaySection .mapContainer iframe {
      height: 90%; }
  /* END ORDERS PAGE */
  /* STARTS CONTACT PAGE */
  .newsletterForm {
    margin: 0 auto !important; }
  /* END CONTACT PAGE */
  /* STARTS JOBS PAGE */
  .aboutUsSection {
    background: linear-gradient(to bottom, white 32%, black 34%); }
    .aboutUsSection .aboutUs__title {
      margin: 20px 0 !important; }
      .aboutUsSection .aboutUs__title h2 {
        font-size: 50px !important; }
      .aboutUsSection .aboutUs__title .about {
        transform: translate(-40%, 4px) !important; }
    .aboutUsSection .aboutUs__story {
      margin: 10px 20px 5px 20px; }
  /* END JOBS PAGE */ }
