@import "_operators.scss";

/* START GENERAL */
* {
    margin: 0px;
    padding: 0px;
    font-family: $font;
}

html,
body {
    min-width: min-content;
}

li {
    list-style: none;
}

.icon {
    width: 35px;
    height: 35px;
}

button:hover {
    cursor: pointer;
}

/* END GENERAL */



/* START HEADER */
.header {
    @include primaryStyle();
    z-index: 3;
    padding: 10px;

    .nav {
        font-size: 30px;

        ul li {
            display: inline;
            margin-left: 20px;
        }

        .nav__logo {
            height: 70px;

            &:hover {
                transform: scale(0.9);
                transition-duration: 0.3s;
                box-shadow: 0 0 13px black;
            }
        }

        .nav__brand {
            @include flex-center();
        }

        .nav__title {
            margin-left: 40px;
            font-family: 'Lato', sans-serif;
        }

        .nav__menu {
            display: flex;
            justify-content: flex-end;
            font-size: 26px;

            a {
                color: $text-color;
                text-decoration: none;
            }
        }

        .nav__menu a:hover,
        a.active {
            text-decoration: underline;
        }
    }
}


/* END HEADER */




/* START MAIN */
main {
    width: 100%;
    z-index: 1;
    margin-top: 90px;
    text-align: center;
}

/* START GENERAL FORMS */
form {
    @include modernContainer();

    h2 {
        text-align: center;
        font-size: 25px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: solid black;
    }

    h3 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    fieldset {
        padding: 5px 30px 20px 30px;
        border: none;

        legend {
            text-align: center;
        }
    }

    .formButtons {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        button {
            margin: 0 35px;
        }
    }
}

/* END GENERAL FORMS */


/* START GENERAL CARD */
.card-body {
    @include primaryStyle();
    font-size: 16px;
    border: solid black;
    border-width: 2px 0 0 0;
    z-index: 2;
}

.card-title {
    position: relative;
    top: 4px;
}

.card-text {
    position: relative;
    top: 6px;
}

/* END GENERAL CARD */



/* START INDEX PAGE */

/* START HERO SECTION */
.heroSection {
    position: relative;
    border-style: solid;
    border-color: black;
    overflow: hidden;

    .heroSection__button {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 100%;
        max-width: 200px;
        transition-duration: 0.3s;

        &:hover {
            top: 10%;
            transition-duration: 0.3s;
        }

        button {
            width: 100%;
            height: 50px;
            font-family: 'Lato', sans-serif;
            font-size: 22px;
            color: black;
            background-color: orange;
            border: solid black;
            border-radius: 5px;
            transition-duration: 0.3s;

            &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
                box-shadow: 0 0 20px white;
            }
        }
    }

    .heroSection__carousel__images {
        display: flex;
        width: 100%;
        z-index: 1;

        img {
            min-height: 450px;
            max-height: 670px;
            width: 100%;
        }
    }

    .swipe-left,
    .swipe-right {
        position: absolute;
        max-width: 50px;
        max-height: 50px;
        top: 50%;
        z-index: 2;
        color: $text-color;
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
        transition-duration: 0.3s;

        &:hover {
            max-width: 70px;
            max-height: 70px;
            transition-duration: 0.3s;

        }
    }


    .swipe-left {
        left: 0%;
        transform: translate(0%, -50%);

    }

    .swipe-right {
        right: 0%;
        transform: translate(0%, -50%);
    }
}

/* END HERO SECTION */

/* START PRODUCTS SECTION */
.productsSection {
    padding: 40px 0;

    .burgers__card,
    .chips__card {
        width: 95%;
        max-width: 510px;
        height: 510px;
        border: solid black;
        box-shadow: 0 2px 30px black;

        h2 {
            @include darkStyle();
            height: 40px;
            font-size: 28px;
            z-index: 2;
        }
    }

    /* START PRODUCTS Carousel */
    .burgers__card__carousel,
    .chips__card__carousel {
        position: relative;
        max-height: 470px;
        overflow: hidden;
    }

    .burgerProduct,
    .chipsProduct {
        position: relative;
        min-width: 300px;
        max-width: 510px;

        img {
            display: block;
            width: 100%;
            height: 410px;
        }
    }

    /* END PRODUCTS Carousel */

}

/* END PRODUCTS SECTION */

/* END INDEX PAGE */



/* START MENU PAGE */

.burgersArticle,
.chipsArticle {
    position: relative;
    margin-bottom: 30px;

    h2 {
        @include sectionTitle();
    }

    .burger__card,
    .chips__card {
        box-sizing: border-box;
        border: solid black;
        min-height: 500px;
        max-height: 600px;
        overflow: hidden;

        img {
            box-sizing: border-box;
            min-height: 420px;
            max-height: 90%;
        }

        .card-body {
            box-sizing: border-box;
            min-height: 73px;
            height: 80%;
            max-height: 80px;
        }
    }
}


/* END MENU PAGE */



/* START ORDERS PAGE */

.cartContainer,
.menuContainer,
.deliveryContainer {
    @include secondaryStyle ();
    @include modernContainer ();
    padding: 10px 20px;
    width: 97%;
    max-width: 720px;
    box-sizing: border-box;

    h3 {
        height: 33px;
        text-align: center;
        border-bottom: solid white;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .burgerItem,
    .guarnitionItem,
    .cartColumns {
        justify-content: space-between;
        display: flex;
        margin-bottom: 20px;

        .itemName {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h4 {
                margin-left: 5%;
            }
        }
    }
}

/* START ORDERS SECTION */
.ordersSection {
    margin-bottom: 20px;

    .cartButton {
        position: absolute;
        top: 60px;
        right: 15px;
        padding: 10px;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            transition-duration: 0.3s;
            transform: scale(1.3);
            box-shadow: 0 0 3px black;
        }
    }

    h2 {
        @include sectionTitle();
    }

    .menuContainer {
        margin: 30px auto;

        .burgerItem,
        .guarnitionItem {

            h4 {
                font-size: 22px;
            }

            .itemName {
                width: 52%;
                max-width: 230px;
            }

            .itemOptions {
                display: flex;
                width: 48%;
                max-width: 270px;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;

                li {
                    text-align: center;
                    min-width: 50px;
                    width: 70px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


/* START CART SECTION */
.cartSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* START FUNCTIONALITY CLASSES */
.cartSectionOpened {
    visibility: visible;
    background-color: rgba($color: #000000, $alpha: 0.78);
}

.cartSectionClosed {
    visibility: hidden;
}

.cartContainer,
.deliveryContainer {
    max-width: 620px;
    max-height: 85%;
    position: relative;
}

.cartContainerOpened,
.deliveryContainerOpened {
    display: unset;
}

.cartContainerClosed,
.deliveryContainerClosed {
    display: none;
}

.cartCloseButton,
.cartGoBackButton {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px;

    font-size: 15px;
    background-color: white;
    border: solid white;
    border-radius: 50%;
}

.cartCloseButton {
    right: 20px;
}

.cartGoBackButton {
    left: 20px;
}

/* END FUNCTIONALITY CLASSES */


h4 {
    font-size: 17px;
}

.cartColumns {
    margin-bottom: 30px;
    text-align: center;

    h4 {
        justify-self: center;
    }

}

.itemNameCol,
.itemName {
    width: 41.5%;
    max-width: 200px;
}

.itemSizeCol,
.itemSize {
    width: 20%;
}

.itemClarificationsCol,
.itemClarifications {
    width: 28.5%;
}

.itemPriceCol,
.itemPrice {
    width: 10%;
}

.cartForm {
    box-shadow: none;

    .cartItems {
        max-height: 320px;
        overflow-y: auto;

        .burgerItem,
        .guarnitionItem {

            .itemSize,
            .itemClarifications,
            .itemPrice {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .itemName {

                h4 {
                    margin-left: 3px;
                }

                .deleteItem {
                    cursor: pointer;
                }
            }

            .itemSize select {
                width: 100%;
                max-width: 90px;
                padding: 3px;
                font-size: 14px;
            }

            .itemClarifications input {
                width: 100%;
                max-width: 110px;
                padding: 3px;
                font-size: 14px;
            }

            .itemPrice p {
                margin: 0 0;
            }

        }
    }

    .totalPrice {
        position: absolute;
        right: 20px;
        bottom: 10px;
        width: 10%;
        text-align: center;
    }
}

/* END CART SECTION */

/* END ORDERS SECTION */

/* START TAKE AWAY SECTION */
.takeawaySection {
    margin: 20px 0;

    h2 {
        @include sectionTitle();
    }

    .mapContainer {
        @include flex-center();
        @include modernContainer();
        margin: 40px auto;
        padding: 20px 10px;
        flex-direction: column;
        justify-content: space-between;
        height: 610px;
        width: 95%;
        max-width: 720px;
        box-sizing: border-box;
        background-color: $form-color;

        h3 {
            width: 100%;
            font-size: 25px;
            margin-top: 1%;
            padding-bottom: 5px;
            border-bottom: solid black;
            text-align: center;
        }

        iframe {
            width: 90%;
            height: 88%;
        }
    }
}

/* END TAKE AWAY SECTION */

/* END ORDERS PAGE */



/* START CONTACT PAGE */
.contactSection {
    margin: 30px 0;

    .contactForm {
        width: 70%;
        background-color: $form-color;
    }
}

.newsletterSection {
    margin: 30px 0;

    .newsletterForm {
        @include secondaryStyle;
        width: 90%;
        margin: 50px 0 0 0;

        h2 {
            font-size: 21px;
            margin-bottom: 20px;
        }
    }
}

/* END CONTACT PAGE */



/* START JOBS PAGE */

/* START ABOUT US SECTION */
.aboutUsSection {
    @include flex-center();
    justify-content: space-around;
    border-bottom: solid black 5px;
    background: linear-gradient(to right, white 35%, black 40%);
    margin-bottom: 30px;

    .aboutUs__title {
        @include flex-center();
        width: 40%;
        flex-direction: column;
        padding-bottom: 2%;

        h2 {
            padding: 5px 10px;
            font-size: 80px;
            box-shadow: 10px 10px 40px grey;
            background-color: transparent;
            border: solid black 4px;
        }

        h2.about {
            transform: translate(-50%, 4px);
            color: $primary-color;
        }

        h2.us {
            transform: translate(+10%);
        }
    }

    .aboutUs__story {
        height: 83%;
        width: 55%;
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: space-between;

        padding: 20px;
        border-left: solid white;
        font-size: 26px;
        color: $text-color;
    }

}

/* END ABOUT US SECTION */

/* START JOBS SECTION */
.jobsSection {
    border-right: solid black 20px;
    border-left: solid black 20px;
    border-bottom: solid black 40px;

    h2 {
        @include sectionTitle();
    }

    .jobs__areas {

        overflow: hidden;

        div h3 {
            font-size: 24px;
            padding-bottom: 5px;
            border-bottom: solid white;
            margin-bottom: 10px;
        }

        .jobs__areas__jobLeft {
            background-color: rgb(0, 109, 0);
        }

        .jobs__areas__jobRight {
            background-color: black;
        }

        .jobs__areas__jobLeft,
        .jobs__areas__jobRight {
            height: 280px;
            max-height: 280px;
            width: 260px;
            max-width: 260px;
            margin: 20px auto;
            display: flex;
            flex-flow: column nowrap;

            box-shadow: 15px 15px 15px grey;
            color: $text-color;
            padding: 15px 16px;

            .jobDescription {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;

                .jobDescription__intro {
                    text-align: center;
                }

                .jobDescription__data {
                    text-align: start;
                }

                .jobDescription__button {
                    margin: 0 auto;

                    button {
                        font-size: 18px;

                        &:hover {
                            transition-duration: 0.3s;
                            transform: scale(1.1);
                            box-shadow: 0 0 8px white;
                        }
                    }
                }

            }
        }
    }

}

/* END JOBS SECTION */

/* START POSTULATION SECTION */

.postulationForm {
    margin: 30px;
    width: 60%;
    background-color: $form-color;
}

/* END POSTULATION SECTION */

/* END JOBS PAGE */

/* END MAIN */




/* START FOOTER */
.footer {
    @include secondaryStyle();
    z-index: 1;
    padding: 20px 15px;

    div {
        @include flex-center();
        flex-direction: column;
        justify-content: flex-start;

        h3 {
            margin-bottom: 15px;
            font-size: 25px;
        }

        li {
            margin-bottom: 4px;
        }

        a {
            text-decoration: none;
            color: $text-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__schedule {

        dt {
            font-size: 18px;
            font-weight: unset;
            text-align: center;
        }

        dd {
            text-align: center;
        }
    }

}

/* END FOOTER */


@media only screen and (max-width: 1200px) {

    .aboutUsSection {

        background: linear-gradient(to bottom, white 40%, black 45%);

        .aboutUs__title {
            margin: 40px 0 40px;
        }

        .aboutUs__story {
            padding: unset;
            border-left: none;
            width: auto;
            margin: 10px 40px;
            min-height: 350px;
            height: auto;
        }
    }

}

@media only screen and (max-width: 992px) {

    /* START HEADER */
    .header {
        position: unset;
    }

    .nav__menu,
    .nav-item {
        margin: 0 !important;
    }

    /* END HEADER */

    main {
        margin-top: 0;
    }

    .cartButton {
        top: 78px !important;
        right: 30px !important;
        width: 29px;
        height: 29px;
        padding: 7px !important;
    }

    .aboutUs__story p {
        font-size: large;
    }
}

@media only screen and (max-width: 576px) {
    .footer div {
        margin: 20px 0;

        h3 {
            font-size: 28px;
        }

        li {
            font-size: 18px;
        }

    }

    .productsSection {

        .burgers__card,
        .chips__card {
            height: 480px;
        }

        .burgerProduct,
        .chipsProduct {
            img {
                height: 378px;
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    /* START HEADER */
    .nav__brand {
        margin: 0 !important;

        .nav__logo {
            height: 65px !important;

            img {
                width: 65px;
                height: 65px;
            }
        }

        .nav__title {
            font-size: 35px;
            margin-left: 5% !important;
        }
    }

    .navbar-toggler,
    .navbar-toggler-icon {

        width: 40px;
        height: 40px;
    }

    /* END HEADER */


    /* START HERO SECTION */
    .heroSection__button {
        max-width: fit-content !important;

        button {
            height: 45px !important;
            font-size: 18px !important;
        }
    }

    .swipe-left,
    .swipe-right {
        width: 40px;
        height: 40px;

        &:hover {
            width: 50px;
            height: 50px;
        }
    }

    /* END HERO SECTION */

    /* START ORDERS PAGE */
    .ordersSection,
    .takeawaySection {

        h2 {
            font-size: 25px;
        }
    }

    .cartButton {
        top: 72px !important;
        right: 17px !important;
    }

    .menuContainer,
    .mapContainer,
    .cartContainer {
        h3 {
            font-size: 23px !important;
        }
    }

    .menuContainer {
        padding: 10px 10px !important;


        .itemName {

            h4 {
                margin-left: 3px;
                font-size: 16px !important;
            }
        }

        .burgersSection li {
            font-size: 15px;
        }

        .guarnitionSection li {
            font-size: 13.5px;
        }
    }

    .cartContainer {
        padding: 10px 10px !important;

        h4 {
            margin-left: 0px !important;
            font-size: 14px !important;
        }

        .icon {
            width: 25px;
            height: 25px;
        }

        .itemSize select {
            padding: 1px !important;
            font-size: 12px !important;
            max-width: 73px !important;
        }

        .itemClarifications input {
            padding: 1px !important;
            font-size: 12px !important;
            max-width: 80px !important;
        }

        .itemPrice p {
            font-size: 14px !important;
        }

        .formButtons {

            button {
                margin: 0 20px;
                font-size: 14px;
                padding: 3px 6px;
            }

        }

        .totalPrice {
            right: 10px !important;
            bottom: 10px !important;
        }

    }

    .takeawaySection {

        .mapContainer {
            padding: 10px 5px;
            height: 580px;

            iframe {
                height: 90%;
            }
        }

    }

    /* END ORDERS PAGE */

}