@import "_operators.scss";

/* START GENERAL */
* {
    margin: 0px;
    padding: 0px;
    font-family: $font;
}

html,
body {
    min-width: min-content;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.icon {
    width: 30px;
}

button:hover {
    cursor: pointer;
}

/* END GENERAL */



/* START HEADER */
.header {
    @include primaryStyle();
    min-width: 490px;
    z-index: 3;
    padding: 10px;

    .nav {
        font-size: 30px;

        ul li {
            display: inline;
            margin: 20px 0 0 20px;
        }

        .nav__logo {
            height: 70px;

            &:hover {
                transform: scale(0.9);
                transition-duration: 0.3s;
                box-shadow: 0 0 13px black;
            }
        }

        .nav__brand {
            @include flex-center();
        }

        .nav__title {
            margin-left: 40px;
            font-family: 'Lato', sans-serif;
        }

        .nav__menu {
            display: flex;
            justify-content: flex-end;
            font-size: 26px;

            a {
                color: $text-color;
                text-decoration: none;
            }
        }

        .nav__menu a:hover,
        a.active {
            text-decoration: underline;
        }
    }
}


/* END HEADER */




/* START MAIN */
main {
    min-width: 490px;
    width: 100%;
    z-index: 1;
    margin-top: 98px;
    text-align: center;
}

/* START GENERAL FORMS */
form {
    text-align: left;
    border-radius: 2%;
    box-shadow: 0 6px 25px black;

    h2 {
        text-align: center;
        font-size: 25px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: solid black;
    }

    h3 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    fieldset {
        padding: 5px 30px 20px 30px;
        border: none;

        legend {
            text-align: center;
        }
    }

    .formButtons {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        button {
            margin: 0 35px;
        }
    }
}

/* END GENERAL FORMS */


/* START GENERAL CARD */
.card-body {
    @include primaryStyle();
    height: 60px;
    font-size: 16px;
    border: solid black;
    border-width: 2px 0 0 0;
    z-index: 2;
}

.card-title {
    position: relative;
    top: 4px;
}

.card-text {
    position: relative;
    top: 6px;
}

/* END GENERAL CARD */



/* START INDEX PAGE */

/* START HERO SECTION */
.heroSection {
    position: relative;
    border-style: solid;
    border-color: black;
    overflow: hidden;

    .heroSection__button {
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        transition-duration: 0.3s;

        &:hover {
            top: 10%;
            transition-duration: 0.3s;
        }

        button {
            width: 200px;
            height: 50px;
            font-family: 'Lato', sans-serif;
            font-size: 22px;
            color: black;
            background-color: orange;
            border: solid black;
            border-radius: 5px;
            transition-duration: 0.3s;

            &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
                box-shadow: 0 0 20px white;
            }
        }
    }

    .heroSection__carousel__images {
        display: flex;
        width: 100%;
        z-index: 1;

        img {
            min-height: 580px;
            max-height: 670px;
            width: 100%;
        }
    }

    .swipe-left,
    .swipe-right {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        z-index: 2;
        color: $text-color;
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
        transition-duration: 0.3s;
    }

    .swipe-left:hover,
    .swipe-right:hover {
        width: 70px;
        height: 70px;
        transition-duration: 0.3s;

    }

    .swipe-left {
        left: 0%;
        transform: translate(0%, -50%);

    }

    .swipe-right {
        right: 0%;
        transform: translate(0%, -50%);
    }
}

/* END HERO SECTION */

/* START PRODUCTS SECTION */
.productsSection {
    padding: 40px 0;

    .burgers__card,
    .chips__card {
        width: 510px;
        height: 510px;
        border: solid black;
        box-shadow: 0 2px 30px black;

        h2 {
            @include darkStyle();
            height: 40px;
            font-size: 28px;
            z-index: 2;
        }
    }

    /* START PRODUCTS Carousel */
    .burgers__card__carousel,
    .chips__card__carousel {
        position: relative;
        height: 470px;
        overflow: hidden;
    }

    .burgerProduct,
    .chipsProduct {
        position: relative;
        min-width: 510px;
        width: 510px;

        img {
            display: block;
            width: 100%;
            height: 410px;
        }
    }

    /* END PRODUCTS Carousel */

}

/* END PRODUCTS SECTION */

/* END INDEX PAGE */



/* START MENU PAGE */

.burgersArticle,
.chipsArticle {
    position: relative;
    margin-bottom: 30px;

    h2 {
        @include darkStyle();
        font-size: 30px;
        padding: 5px 0;
    }

    .burger__card,
    .chips__card {
        box-sizing: border-box;
        border: solid black;
        height: 600px;

        img {
            height: 532px;
        }
    }
}


/* END MENU PAGE */



/* START ORDERS PAGE */

/* START ORDERS SECTION */
.ordersSection {
    margin: 40px 0;

    .ordersForm {
        width: 75%;
        height: 100%;
        background-color: $form-color;

        .orderArea {
            position: relative;
            border-bottom: solid black;
            margin-bottom: 10px;
            height: 348px;
            max-height: 348px;
            overflow-y: auto;

            .delete {
                position: absolute;
                right: 0;
                width: 28px;
                cursor: pointer;
            }
        }
    }
}


/* END ORDERS SECTION */

/* START MAP SECTION */
.mapSection {
    margin: 40px 0;

    .mapContainer {
        @include flex-center();
        flex-direction: column;
        justify-content: space-between;
        height: 610px;
        width: 60%;
        padding: 20px 10px;
        background-color: $form-color;
        box-shadow: 0 6px 25px black;
        border-radius: 2%;

        h2 {
            width: 100%;
            font-size: 25px;
            margin-top: 1%;
            padding-bottom: 5px;
            border-bottom: solid black;
        }

        iframe {
            width: 90%;
            height: 85%;
        }
    }
}

/* END MAP SECTION */

/* END ORDERS PAGE */



/* START CONTACT PAGE */
.contactSection {
    margin: 30px 0;

    .contactForm {
        width: 70%;
        background-color: $form-color;
    }
}

.newsletterSection {
    margin: 30px 0;

    .newsletterForm {
        @include secondaryStyle;
        width: 90%;
        margin: 50px 0 0 0;

        h2 {
            font-size: 21px;
            margin-bottom: 20px;
        }
    }
}

/* END CONTACT PAGE */



/* START JOBS PAGE */

/* START ABOUT US SECTION */
.aboutUsSection {
    @include flex-center();
    justify-content: space-around;
    border-bottom: solid black 5px;
    background: linear-gradient(to right, white 35%, black 40%);
    margin-bottom: 30px;

    .aboutUs__title {
        @include flex-center();
        width: 40%;
        flex-direction: column;
        padding-bottom: 2%;

        h2 {
            padding: 5px 10px;
            font-size: 80px;
            box-shadow: 10px 10px 40px grey;
            background-color: transparent;
            border: solid black 4px;
        }

        h2.about {
            transform: translate(-50%, 4px);
            color: $primary-color;
        }

        h2.us {
            transform: translate(+10%);
        }
    }

    .aboutUs__story {
        height: 83%;
        width: 55%;
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: space-between;

        padding: 20px;
        border-left: solid white;
        font-size: 26px;
        color: $text-color;
    }

}

/* END ABOUT US SECTION */

/* START JOBS SECTION */
.jobsSection {
    border-right: solid black 20px;
    border-left: solid black 20px;
    border-bottom: solid black 40px;

    h2 {
        @include darkStyle();
        width: 100%;
        padding: 5px 0;
        font-size: 28px;
    }

    .jobs__areas {

        overflow: hidden;

        div h3 {
            font-size: 24px;
            padding-bottom: 5px;
            border-bottom: solid white;
            margin-bottom: 10px;
        }

        .jobs__areas__jobLeft {
            background-color: rgb(0, 109, 0);
        }

        .jobs__areas__jobRight {
            background-color: black;
        }

        .jobs__areas__jobLeft,
        .jobs__areas__jobRight {
            height: 280px;
            max-height: 280px;
            width: 260px;
            max-width: 260px;
            margin: 20px auto;
            display: flex;
            flex-flow: column nowrap;

            box-shadow: 15px 15px 15px grey;
            color: $text-color;
            padding: 15px 16px;

            .jobDescription {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;

                .jobDescription__intro {
                    text-align: center;
                }

                .jobDescription__data {
                    text-align: start;
                }

                .jobDescription__button {
                    margin: 0 auto;

                    button {
                        font-size: 18px;

                        &:hover {
                            transition-duration: 0.3s;
                            transform: scale(1.1);
                            box-shadow: 0 0 8px white;
                        }
                    }
                }

            }
        }
    }

}

/* END JOBS SECTION */

/* START POSTULATION SECTION */

.postulationForm {
    margin: 30px;
    width: 60%;
    background-color: $form-color;
}

/* END POSTULATION SECTION */

/* END JOBS PAGE */

/* END MAIN */




/* START FOOTER */
.footer {
    @include secondaryStyle();
    min-width: 490px;
    z-index: 1;
    padding: 20px 15px;

    div {
        @include flex-center();
        flex-direction: column;
        justify-content: flex-start;

        h3 {
            margin-bottom: 15px;
            font-size: 25px;
        }

        li {
            margin-bottom: 4px;
        }

        a {
            text-decoration: none;
            color: $text-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__schedule {

        dt {
            font-size: 18px;
            font-weight: unset;
            text-align: center;
        }

        dd {
            text-align: center;
        }
    }

}

/* END FOOTER */


@media only screen and (max-width: 1200px) {

    .aboutUsSection {

        background: linear-gradient(to bottom, white 40%, black 45%);

        .aboutUs__title {
            margin: 40px 0 40px;
        }

        .aboutUs__story {
            padding: unset;
            border-left: none;
            width: auto;
            margin: 10px 40px;
            min-height: 350px;
            height: auto;
        }
    }

}

@media only screen and (max-width: 992px) {

    .header {
        position: unset;
    }

    .nav__menu {
        justify-content: center !important;
    }

    main {
        margin-top: 0;
    }

    .aboutUs__story p {
        font-size: large;
    }
}

@media only screen and (max-width: 600px) {

    .nav__menu {
        font-size: 20px !important;
    }

}